@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
}

app-view, 
app-loading {
    display: block;
    padding: 16px;
    border: 1px solid #ccc;
}

app-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
}

    app-loading[aria-hidden="true"] {
        display: none;
    }